<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.securecapture</string>
	</dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We use speech recognition to allow you to control the camera hands-free while skiing.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We use the microphone to record audio for your videos and for voice commands.</string>
</dict>
</plist>
